@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root {
    --red-color: #e94959;
    --gray-color: #bdbdbd;
    --dark-gray-color: #2b2b2b;
    --light-gray-color: #e6e6e6;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 48
}
html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 0.6rem;
}
html::-webkit-scrollbar-track {
    background-color: var(--gray-color);
}
html::-webkit-scrollbar-thumb {
    background-color: var(--dark-gray-color);
}
body {
    background-color: #f7f7f8;
}
.navbar, .logo, .menu, .menu-item, .options, .option-item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar {
    position: fixed;
    width: calc(100% - 1rem);
    left: 0;
    justify-content: space-between;
    padding: 1.5rem 1rem;
    width: 100%;
    height: 50px;
    z-index: 10;
}
.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
img[alt="logo"] {
    width: 2.2rem;
}
.logo > h2 {
    font-size: 1rem;
    padding-left: 1rem;
    color: #333;
}
.options {
    gap: 1rem;
}
.option-item {
    user-select: none;
}
.option-item > span {
    font-size: 1.2rem;
}
.menu {
    position: absolute;
    left: 100vw;
    top: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    font-size: 1.4rem;
    padding-top: 5rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    transition: left 500ms;
}
.menu-item{
    width: 100%;
}
.menu-item:hover {
    color: var(--red-color);
}
.menu-item > a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: inherit;
}
.show-menu {
    left: 0;
}
.active {
    color: var(--red-color);
}
.cart, .close {
    position: relative;
    z-index: 20;
}
.cart-count {
    position: absolute;
    top: 1.5rem;
    right: 3rem;
    z-index: 22;
    font-size: 0.7rem;
    color: #fff;
    border-radius: 50%;
    background-color: #000;
    width: 0.9rem;
    height: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.close {
    font-weight: 300;
}
.hide {
    display: none;
}
/* Shopping Cart */
.shopping-cart, .shop-header, .shop-product-card, .shop-prod-data,
.shop-prod-stock-container, .shop-prod-price, .shop-options-container, .shop-options,
.lessBtn, .addBtn, .units, .deleteBtn {
    display: flex;
}
.shopping-cart {
    position: fixed;
    left: 100%;
    z-index: 15;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
    gap: 3rem;
    transition: left 500ms;
}
.show-shoppong-cart {
    left: 0;
}
.shop-header {
    flex-direction: column-reverse;
    align-items: center;
    height: 80px;
}
.shop-title {
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--dark-gray-color);
}
.shopping-cart .close-btn {
    align-self: flex-end;
    margin-right: 1.5rem;
    cursor: pointer;
}
.shop-product-card {
    align-items: center;
    gap: 1rem;
    height: 150px;
    padding-left: 2rem;
}
.shop-product-card > img {
    width: 65px;
    height: 70px;
    padding: 0.2rem;
    border: 1px solid var(--light-gray-color);
}
.shop-prod-data {
    flex-direction: column;
    gap: 0.5rem;
}
.shop-prod-name {
    font-size: 0.95rem;
    font-weight: 500;
}
.shop-prod-stock-container {
    gap: 0.5rem;
    align-items: center;
}
.shop-prod-stock {
    color: var(--dark-gray-color);
    font-size: 0.8rem;
}
.shop-prod-stock::after {
    content: "|";
    font-size: 0.9rem;
    position: relative;
    left: 3px;
}
.shop-prod-price {
    font-size: 0.8rem;
    color: var(--red-color);
}
.shop-prod-subtotal {
    color: var(--red-color);
    font-size: 0.95rem;
}
.shop-options {
    gap: 1rem
}
.lessBtn, .addBtn, .deleteBtn {
    width: 25px;
    height: 25px;
    border-radius: 0;
    border: 1px solid var(--light-gray-color);
    background-color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--dark-gray-color);
    align-items: center;
    justify-content: center;
}
.units {
    color: var(--dark-gray-color);
}
.deleteBtn {
    margin-left: 3rem;
    border: none;
    color: var(--red-color);
}
/* main-product-container */
.main-product-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
}
.product-img {
    background-color: var(--red-color);
    width: 260px;
    height: 430px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 1.5rem;
}
.product-img > img {
    width: 100%;
}
.product-data {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.product-name {
    max-width: 350px;
    color: var(--dark-gray-color);
}
.product-description {
    color: var(--dark-gray-color)
}
.product-price {
    width: 100%;
    color: var(--red-color);
    font-size: 1.3rem;
    font-weight: 500;
}
.buttons {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
}
.btn {
    width: 110px;
    height: 55px;
    background-color: var(--gray-color);
    border: none;
    font-size: 1rem;
    font-weight: 500;
}
.btnBig {
    width: 160px;
    height: 60px;
    background-color: var(--dark-gray-color);
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    box-shadow: 0 0 30px #1a1a1a33;
    transition: background-color 300ms;
}
.btnBig:active {
    background-color: var(--red-color);
}
/* Products sections */
.products-container, .filter-item, .product-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.products-container {
    gap: 2rem;
    padding: 1.5rem;
    padding-bottom: 7rem;
}
/* filter */
.filter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.5rem;
}
.filter-item {
    gap: 0.7rem;
    min-width: 160px;
    border-right: 1px solid var(--dark-gray-color);
    grid-column-start: 1fr;
}
.filter-item:nth-child(4) {
    border: none;
}
.filter-name {
    font-weight: 500;
    color: #444;
}
.filter-description {
    font-size: 0.8rem;
}
.dark-color {
    color: #000;
}
/* product list */
.product-list {
    gap: 2rem;
}
.product-card {
    width: 200px;
    height: 240px;
    background-color: var(--light-gray-color);
    border-radius: 0.5rem;
    overflow: hidden;
}
.prod-img {
    display: flex;
    justify-content: center;
}
.prod-img > img {
    width: 80%;
    transition: transform 500ms;
}
.product-card:hover .prod-img > img {
    transform: translateY(-3px);
}
.prod-data {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 1rem;
    height: 80px;
    background-color: #fff;
}
.price, .stock {
    display: flex;
    align-items: center;
}
.price {
    font-size: 1.2rem;
    font-weight: 500;
}
.add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 15px rgba(85, 85, 85, 0.445);
    position: relative;
    top: -3.6rem;
    left: 4rem;
    transition: background-color 300ms, color 300ms;
}
.add-to-cart:active {
    background-color: var(--red-color);
    color: #fff;
}
.add-to-cart > span {
    font-size: 1.2rem;
}
.stock {
    font-size: 0.8rem;
    justify-content: flex-start;
}
.stock::before {
    content: "|";
    font-size: 12px;
    color: var(--dark-gray-color);
    padding-left: 3px;
    padding-right: 4px;
}
.name {
    font-weight: 500;
}
/* ======= FOOTER ========== */
footer {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #e6e6e6;
    gap: 2rem;
    padding-top: 5rem;
    padding-left: 1.5rem;
}
.footer-title {
    color: #262626;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.footer-item {
    color: var(--dark-gray-color);
    font-size: 0.9rem;
}
.footer-item > img {
    width: 1rem;
}
.footer-item2 {
    color: #6b6b6b;
    font-size: 0.8rem;
    text-align: center;
}
.sec1, .sec2, .sec3, .sec4 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.sec1 {
    height: 7rem;
}
.footer-social {
    display: flex;
    gap: 1rem
}
.sec5 {
    padding-bottom: 2rem;
}
/* ===== Responsive ========= */
@media (min-width: 575px) {
    .product-img {
        width: 340px;
    }
    .filter {
        width: 100%;
    }
    .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    footer {
        grid-template-columns: 1fr 1fr;
    }
    .sec5 {
        grid-column: 1 / 3;
    }
}
@media(min-width: 765px) {
    .navbar {
        height: 80px;
    }
    .menu-btn {
        display: none;
    }
    .menu {
        position: relative;
        left: 0px;
        top: 0px;
        z-index: 10;
        width: 100%;
        height: inherit;
        background-color: transparent;
        font-size: 1rem;
        padding-top: 0;
        padding-left: 3rem;
        flex-direction: row;
        justify-content: flex-start;
        gap: 2rem;
    }
    .menu-item {
        font-size: 0.9rem;
        font-weight: 500;
        width: max-content;
    }
    .shopping-cart {
        max-width: 400px;
    }
    .show-shoppong-cart {
        left: calc(100% - 400px);
    }
    .main-product-container {
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .product-img {
        position: relative;
        top: 0;
    }
    .product-data {
        width: 50vw;
    }
    .products-container {
        gap: 0;
    }
    .product-list {
        gap: 3rem;
    }
    .filter {
        grid-template-columns: repeat(4, max-content);
        justify-content: space-between;
        margin-top: 10rem;
    }
    footer {
        grid-template-columns: repeat(4, max-content);
        justify-content: space-between;
        padding-right: 1.5rem;
    }
    .sec1, .sec2, .sec3, .sec4 {
        width: auto;
    }
    .sec5 {
        grid-column: 1 / 5;
    }
    @media (min-width: 1000px) {
        .menu-item {
            font-size: 1rem;
        }
        .menu-container, .main-product-container {
            max-width: 1000px;
            margin: 0 auto;
        }
        .menu-container {
            padding-right: 2rem;
        }
        .product-img {
            width: 480px;
            height: 680px;
        }
        .product-img > img {
            width: 480px;
        }
        .product-data {
            position: relative;
            top: -8rem;
        }
        .product-name {
            font-size: 2.4rem;
        }
        .product-price {
            font-size: 1.5rem;
        }
        .product-list {
            grid-template-columns: repeat(3, 1fr);
        }
        .product-card {
            width: 262px;
            height: 361px;
        }
        .prod-img {
            padding: 2rem 0;
        }
        .prod-data {
            height: 90px;
        }
        .stock {
            position: relative;
            left: -1rem;
        }
        .price {
            font-size: 1.5rem;
        }
        .name {
            font-size: 1.2rem;
        }
        .add-to-cart:hover {
            background-color: var(--red-color);
            color: #fff;
        }
        .btnBig:hover {
            background-color: var(--red-color);
        }
    }
}